body {
  margin: 0;
  padding: 0;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{ */
  /* background: url('https://www.newcastleherald.com.au/images/transform/v1/crop/frm/SZjBdCvXzdW4Ygt94axh3r/644e1d4a-39f5-40a4-b3ff-fdbf33a443eb.jpg/r0_289_5491_3670_w1200_h678_fmax.jpg')  rgba(99, 55, 55, 0.212); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -4em;   */
  /* font-family: 'Montserrat', sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
