/* .nav {
  background-color: rgb(119, 113, 113);
  overflow: hidden;
} */
.ppal {
  flex-wrap: wrap;
}
.ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* flex-wrap: wrap; */
  margin: 0px 10px 10px 10px;
  /* border: 4px solid #273746; */
  background-color: #fa6824aa;
  width: 40vh;
  height: 500px; 
  border-radius: 8px;
  animation: stopfloating 2s infinite linear;
}