.button1 {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(221, 148, 53, 0.384);
  color: black;
  border-radius: 5px;
  text-decoration: none
};

.topnav .list a.button1:hover {
  background-color: hotpink;
}

a:hover {
  background-color: rgba(255, 218, 9, 0.753);
  color: rgb(255, 255, 255);
  text-decoration: none;
};
.list {
  margin-top: 40px;
}

.App {
  font-family: 'Libre Baskerville', serif;
  position: relative;
  margin-bottom: 10vh;
  margin-top: 10vh;
}
.Subtitle {
  color: rgb(255, 210, 11);
  font-family: 'Lobster', cursive;
  margin-bottom: 2vh;
}

.topnav {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:flex-start ; 
  background:
   url('https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'),
  rgba(24, 18, 18, 0.514);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -4em;  */
  width: 100%;
  height: 100%;
  position: absolute;
  color: antiquewhite;
  font-size: 30px;
};



